[submodule ".registry"]
	path = .registry
	url = https://github.com/deandevl/deandevl.r-universe.dev
	branch = HEAD
[submodule "RplotterPkg"]
	path = RplotterPkg
	url = https://github.com/deandevl/RplotterPkg
